--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn

torch==2.1.0+cpu
torchaudio==2.1.0+cpu
torchvision==0.16.0+cpu
torchtext==0.16.0

transformers==4.39.3
av==14.0.1 --only-binary=:all:

git+https://github.com/facebookresearch/audiocraft.git --no-deps
